.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px;
  margin-top: 95px;
  padding: 0px;

  background-color: #ffffff;
  z-index: 5;
}

.form__heading {
  display: flex;
  text-align: center;
  align-items: center;

  font-size: 14px;
  line-height: 24px;
  color: @bg-dark;

  &--top {
    width: 250px;
    min-height: 186px;
  }
}
