.intro-index {
  margin: 0;
  padding: 0;

  &::before {
  content: "";
  position: absolute;
  top: 175px;
  background-image: url(../img/iphone-hand-mobile@1x.png);
  width: 100%;
  height: 498px;
  background-repeat: no-repeat;
  }
}

@media (min-width: @tablet-width) {
  .intro-index  {

    &::before {
      min-height: 729px;
      top: 184px;
      background-image: url('../img/iphone-hand-tablet@1x.png');
    }
  }
}

@media (min-width: @desktop-width) {
  .intro-index  {

    &::before {
      content: "";
      top: 209px;
      left: 145px;
      background-image: url(../img/iphone-hand-desktop@1x.png);
      width: 100%;
      min-height: 853px;
    }
  }
}

.intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: @tablet-width) {
  .intro {
    padding-right: 38px;
  }
}

@media (min-width: @desktop-width) {
  .intro {
    padding-right: 0;
  }
}

.intro__heading {
  width: 230px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  margin: 0px;
  margin-top: 91px;
  padding: 0px;
}

.photo__header {
  margin-top: 98px;
}

.form__header {
  margin-top: 97px;
}

@media (min-width: @tablet-width) {
  .intro__heading {
    width: 186px;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    margin: 0px;
    margin-top: 203px;
    margin-right: 285px;
    padding: 0px;
  }
}

@media (min-width: @desktop-width) {
  .intro__heading {
    width: 231px;
    font-size: 50px;
    line-height: 60px;
    margin-top: 218px;
    margin-right: 643px;
  }
}

@media (min-width: @tablet-width) {
  .form__header {
    font-size: 50px;
    line-height: 60px;
    width: 475px;
    margin: 0;
    margin-top: 180px;
    margin-left: 39px;
    margin-bottom: 25px;
    padding: 0;

  }
}

@media (min-width: @tablet-width) {
  .photo__header {
    font-size: 50px;
    line-height: 60px;
    width: 475px;
    margin: 0;
    margin-top: 180px;
    margin-left: 39px;
    margin-bottom: 57px;
    padding: 0;

  }
}

@media (min-width: @desktop-width) {
  .photo__header {
    margin-top: 175px;
    margin-left: 0px;
    margin-bottom: 17px;
  }
}

.intro__wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  margin-top: 312px;
  padding: 0px;

  background-color: @bg-dark;
}

@media (min-width: @tablet-width) {
  .intro__wrapper {
    background-color: transparent;

    margin-bottom: 69px;
  }
}

.intro__button {
  display: flex;
  width: 275px;
  height: 49px;
  border: solid 3px #ffffff;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  border-radius: 27px;
  outline: none;
  margin: 0;
  margin-top: 30px;
  padding: 0;
  background-color: @bg-dark;
}

@media (min-width: @tablet-width) {
  .intro__button {
    order: 1;
    width: 296px;

    margin-top: -283px;
    margin-right: 280px;
    background-color: transparent;
    z-index: 1;
  }
}

@media (min-width: @desktop-width) {
  .intro__button {
    font-size: 21px;
    margin-top: -260px;
    margin-right: 640px;
  }
}

.intro__button {
  &:hover {
  color: red;
  background-color: #ffffff;
  }
}

.intro__applications {
  display: flex;
  list-style: none;

  margin: 0px;
  margin-top: 32px;
  padding: 0px;

  align-items: baseline;
}

@media (min-width: @tablet-width) {
  .intro__applications {
    order: 2;
    margin-top: 47px;
    margin-right: 283px;
    z-index: 2;
  }
}

@media (min-width: @desktop-width) {
  .intro__applications {
    margin-top: 65px;
    margin-right: 643px;
  }
}

.intro__applications li:first-child {
  margin-right: 34px;
}

.intro__applications li:last-child {
  margin-left: 37px;
}


.intro__text {
  width: 230px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  margin: 0px;
  margin-top: 17px;
  margin-bottom: 28px;
  padding: 0px;
}

@media (min-width: @tablet-width) {
  .intro__text {
    order: 3;
    width: 300px;
    font-size: 18px;
    margin-top: 30px;
    margin-right: 283px;

    z-index: 3;
  }
}

@media (min-width: @desktop-width) {
  .intro__text {
    margin-top: 50px;
    margin-right: 643px;
    padding-bottom: 26px;
  }
}
