.intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-color: @bg-dark;
  background-size: auto;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }
}

@media (min-width: @tablet-width) {
  .intro {
    top: 0;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-color: @bg-light;
    background-size: auto 728px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }
}

@media (min-width: @desktop-width) {
  .intro {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-size: auto 854px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }
}

.intro__heading {
  width: 230px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  margin: 0;
  margin-top: 91px;
  padding: 0;
}

.intro__heading--index {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 86px;
    left: -45px;
    background-image: url("../img/iphone-hand-mobile@1x.png");
    width: 320px;
    height: 498px;
    background-repeat: no-repeat;
    background-size: 258px;


    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-hand-mobile@2x.png");
    }
  }
}

.intro__heading--photo {
  margin-top: 98px;
  margin-bottom: 83px;
}

.intro__heading--form {
  margin-top: 98px;
  margin-bottom: 55px;
}

@media (min-width: @tablet-width) {
  .intro__heading {
    width: 186px;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    margin: 0;
    margin-top: 203px;
    margin-right: 285px;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .intro__heading {
    width: 231px;
    font-size: 50px;
    line-height: 60px;
    margin-top: 218px;
    margin-right: 643px;
  }
}

@media (min-width: @tablet-width) {
  .intro__heading--index {
    width: 231px;
    margin-top: 204px;
    margin-right: 320px;

    &::before {
      width: 660px;
      min-height: 729px;
      top: -20px;
      left: -53px;
      background-image: url("../img/iphone-hand-tablet@1x.png");
      background-position: top;
      background-size: 700px auto;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/iphone-hand-mobile@2x.png");
      }
    }
  }
}

@media (min-width: @tablet-width) {
  .intro__heading--form {
    font-size: 50px;
    line-height: 60px;
    width: 475px;
    margin: 0;
    margin-top: 180px;
    margin-bottom: 80px;
    padding: 0;
  }
}

@media (min-width: @tablet-width) {
  .intro__heading--photo {
    font-size: 50px;
    line-height: 60px;
    width: 475px;
    margin: 0;
    margin-top: 180px;
    margin-bottom: 139px;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .intro__heading--index {
    width: 236px;
    margin-top: 218px;
    margin-right: 638px;

    &::before {
      content: "";
      position: absolute;
      background-image: url("../img/iphone-hand-desktop@1x.png");
      background-position: top right 4px;
      width: 1050px;
      min-height: 853px;
      top: -10px;
      left: -13px;
      background-size: 1050px auto;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/iphone-hand-desktop@2x.png");
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .intro__heading--photo {
    margin-top: 172px;
    margin-left: 0;
    margin-bottom: 101px;
  }
}

@media (min-width: @desktop-width) {
  .intro__heading--form {
    width: 750px;
    margin-top: 172px;
    margin-left: 0;
    margin-bottom: 101px;
  }
}

.intro__wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin: 0;
  margin-top: 316px;
  padding: 0;
  background-color: @bg-dark;
}

@media (min-width: @tablet-width) {
  .intro__wrapper {
    background-color: transparent;
    margin-top: 315px;
    margin-bottom: 66px;
  }
}

.intro__button {
  display: flex;
  width: 275px;
  height: 49px;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  border-radius: 27px;
  border: solid 3px #ffffff;
  outline: none;
  cursor: pointer;
  margin: 0;
  margin-top: 26px;
  padding: 0;
  background-color: @bg-dark;

  &:hover {
    color: red;
    background-color: #ffffff;
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);
    background-color: #ffffff;
  }
}

@media (min-width: @tablet-width) {
  .intro__button {
    order: 1;
    width: 294px;
    margin-top: -286px;
    margin-right: 320px;
    background-color: transparent;
    z-index: 1;
  }
}

@media (min-width: @desktop-width) {
  .intro__button {
    font-size: 21px;
    margin-top: -265px;
    margin-right: 640px;
  }
}

.intro__applications {
  display: flex;
  list-style: none;
  align-items: baseline;
  margin: 0;
  margin-top: 32px;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .intro__applications {
    order: 2;
    margin-top: 45px;
    margin-right: 323px;
    z-index: 2;
  }
}

@media (min-width: @desktop-width) {
  .intro__applications {
    margin-top: 67px;
    margin-right: 643px;
  }
}

.intro__applications li:first-child {
  margin-right: 34px;
}

.intro__applications li:last-child {
  margin-left: 37px;
}

.intro__text {
  width: 230px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  margin: 0;
  margin-top: 16px;
  margin-bottom: 30px;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .intro__text {
    order: 3;
    width: 300px;
    font-size: 18px;
    margin-top: 31px;
    margin-right: 321px;
    z-index: 3;
  }
}

@media (min-width: @desktop-width) {
  .intro__text {
    margin-top: 49px;
    margin-right: 641px;
    padding-bottom: 26px;
  }
}
