.page-header__logo {
  display: flex;
  height: 22px;
  margin: 0px;
  padding-top: 22px;
  padding-left: 20px;
}

@media (min-width: @tablet-width) {
  .page-header__logo {
    padding-top: 42px;
    padding-left: 93px;

  }
}

.open-nav {
  display: flex;
  height: 69px;
  width: 100%;
  margin: 0px;
  padding: 0px;

  z-index: 3;
  background-color: @bg-dark;
  // background-color: rgba(0, 0, 0, 0.3);
}

@media (min-width: @tablet-width) {
  .open-nav {
    height: 109px;
  }
}


.main-nav__toggle {
  display: none;
  width: 50px;
  height: 24px;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  background-image: url("../img/icon-menu-burger.svg");

  margin: 0px;
  margin-top: 22px;
  margin-left: 155px;
  padding: 0px;
}

.main-nav__close {
  display: flex;
  width: 24px;
  height: 23px;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  background-image: url("../img/icon-menu-cross.svg");

  margin: 0px;
  margin-top: 21px;
  margin-left: 182px;
  padding: 0px;
}

@media (min-width: @tablet-width) {
  .main-nav__close {
    margin-top: 45px;
    margin-left: 450px;
  }
}
