.page-footer__copyright {
  margin-top: 40px;
  margin-right: 43px;
  margin-bottom: 47px;

  &::after {
    content: "";
    width: 27px;
    height: 34px;
    position: absolute;
    right: 95px;
    background-image: url("../img/htmlacademy.svg");
    background-repeat: no-repeat;
  }
}

@media (min-width: @tablet-width) {
  .page-footer__copyright {
    display: flex;

    margin-top: 19px;
    margin-right: 0;
    margin-bottom: 0;

    &::after {
      right: 20px;
    }
  }
}

@media (min-width: @desktop-width) {
  .page-footer__copyright {
    margin-top: 18px;

    &::after {
      right: 130px;
    }
  }
}

.copyright__link {
  font-size: 14px;
  color: @bg-dark;
}

@media (min-width: @tablet-width) {
  .copyright__link {
    margin-left: 85px;
  }
}

@media (min-width: @desktop-width) {
  .copyright__link {
    font-size: 18px;
    margin-left: 220px;
  }
}
