.page-main {
  position: relative;
  width: 100%;

  top: -66px;
  padding-top: 65px;

  padding: 0px;
  margin: 0px;

  background-image: url(../img/bg-back-mobile@1x.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-color: @bg-dark;

  z-index: 1;
}

@media (min-width: @tablet-width) {
  .page-main {
    top: -110px;
    background-image: url(../img/bg-back-tablet@1x.jpg);
    background-color: transparent;
  }
}
