.photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin: 0;
  margin-top: 83px;
  padding: 0;
  background-color: #ffffff;
  z-index: 5;
}

.photos__heading {
  display: flex;
  text-align: center;
  align-items: center;
  font-size: 14px;
  line-height: 30px;
  color: @bg-dark;

  margin: 0;
  padding: 0;

  &--top {
    width: 250px;

    margin-top: 46px;
    margin-bottom: 49px;
  }

  &--bot {
    width: 255px;

    margin-top: 21px;
    margin-bottom: 42px;
    margin-left: -3px;
  }
}

@media (min-width: @tablet-width) {
  .photos__heading {
    font-size: 18px;
    line-height: 30px;

    &--top {
      width: 490px;
      min-height: 79px;

      margin: 0;
      padding: 0;
      margin-top: 82px;
      margin-bottom: 67px;
    }

    &--bot {
      width: 425px;

      margin-top: 44px;
      margin-bottom: 68px;
      margin-left: 2px;
    }
  }
}

@media (min-width: @desktop-width) {
  .photos__heading {
    &--top {
      width: 575px;

      margin-top: 83px;
      margin-bottom: 79px;
    }

    &--bot {
      width: 425px;

      margin-top: 5px;
      margin-bottom: 66px;
      margin-left: 3px;
    }
  }
}

.panorama__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin: 0;
  margin-bottom: 19px;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .panorama__item {
    position: relative;
    width: 660px;

    margin-bottom: 49px;
    margin-left: 0;
  }
}

@media (min-width: @desktop-width) {
  .panorama__item {
    width: 1200px;

    margin-bottom: 50px;
  }
}

.panorama {
  position: absolute;
  display: flex;
  width: 140px;
  height: 36px;
  font-size: 12px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  left: 160px;
  background-color: #d22856;

  margin: 0;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .panorama {
    top: 57px;
    left: 500px;
  }
}

@media (min-width: @desktop-width) {
  .panorama {
    top: 54px;
    left: 930px;
  }
}

.panorama__img {
  display: flex;

  margin: 0;
  padding: 0;
}

.photos__picture {
  height: 137px;
  margin: 0;
  padding: 0;

  & img {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: @tablet-width) {
  .photos__picture {
    height: 509px;
  }
}

@media (min-width: @desktop-width) {
  .photos__picture {
    height: 506px;
  }
}

.panorama__box {
  display: flex;
  flex-direction: column;
  width: 280px;
  background-color: @bg-light;
}

@media (min-width: @tablet-width) {
  .panorama__box {
    position: relative;
    width: 620px;

    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .panorama__box {
    width: 940px;
    min-height: 96px;
  }
}

.panorama__heading {
  display: flex;

  margin: 0;
  padding: 0;

  & h4 {
    font-size: 14px;
    line-height: 0;
    font-weight: bold;
    color: @bg-dark;

    margin: 0;
    margin-top: 30px;
    margin-bottom: 12px;
    margin-left: 18px;
    padding: 0;
  }
}

@media (min-width: @tablet-width) {
  .panorama__heading {
    & h4 {
      margin-top: 37px;
      margin-left: 28px;
    }
  }
}

@media (min-width: @desktop-width) {
  .panorama__heading {
    & h4 {
      margin-top: 35px;
    }
  }
}

.panorama__time {
  display: flex;
  font-size: 12px;
  line-height: 0;
  font-weight: 300;
  color: @bg-dark;
  text-transform: uppercase;

  margin: 0;
  margin-top: 31px;
  margin-left: 3px;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .panorama__time {
    margin-top: 38px;
  }
}

@media (min-width: @desktop-width) {
  .panorama__time {
    margin-top: 36px;
  }
}

.panorama__text {
  display: flex;
  font-size: 14px;
  line-height: 24px;
  color: @bg-dark;

  margin: 0;
  margin-left: 18px;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .panorama__text {
    margin-left: 28px;
    margin-bottom: 25px;
  }
}

@media (min-width: @desktop-width) {
  .panorama__text {
    margin-bottom: 22px;
  }
}

.panorama__like {
  display: flex;
  position: relative;
  font-size: 12px;
  text-transform: uppercase;
  color: #d22856;

  margin: 0;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 49px;
  padding: 0;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-heart.svg");
    width: 13px;
    height: 12px;
    top: 6px;
    left: -30px;
    background-repeat: no-repeat;
  }
}

@media (min-width: @tablet-width) {
  .panorama__like {
    position: absolute;
    top: 16px;
    left: 423px;

    &::before {
      top: 5px;
      left: 106px;
    }
  }
}

@media (min-width: @desktop-width) {
  .panorama__like {
    top: 14px;
    left: 740px;
  }
}

.photos__list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .photos__list {
    display: flex;
    flex-wrap: wrap;
    width: 660px;
  }
}

@media (min-width: @desktop-width) {
  .photos__list {
    justify-content: center;
    width: 1200px;
    margin-bottom: -1px;
  }
}

.photos__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin: 0;
  margin-bottom: 19px;
  padding: 0;

  &:nth-child(2) {
    margin-bottom: 21px;
  }

  &:nth-child(3) {
    margin-bottom: 21px;
  }

  &:nth-child(4) {
    margin-bottom: 21px;
  }

  &:nth-child(5) {
    margin-bottom: 21px;
  }
}

@media (min-width: @tablet-width) {
  .photos__item {
    flex-direction: column;
    width: 300px;

    margin-bottom: 20px;
    margin-left: 20px;
    background-color: #ffffff;

    &:nth-child(2n) {
      margin-bottom: 20px;
    }

    &:nth-child(3n) {
      margin-bottom: 20px;
    }

    &:nth-child(5n) {
      margin-bottom: 21px;
    }
  }
}

@media (min-width: @desktop-width) {
  .photos__item {
    margin-left: 0;
    margin-right: 20px;
    margin-bottom: 54px;

    &:nth-child(3n+3) {
      margin-right: 0;
    }

    &:nth-child(2n) {
      margin-bottom: 54px;
    }

    &:nth-child(3n) {
      margin-bottom: 54px;
    }

    &:nth-child(5n) {
      margin-bottom: 54px;
    }
  }
}

.photos__img {
  & img {
    display: block;

    margin: 0;
    padding: 0;
  }
}

@media (min-width: @tablet-width) {
  .photos__img {
    width: 300px;
    height: 300px;
    background-color: @bg-light;

    & img {
      width: 300px;
      height: 300px;
    }
  }
}

@media (min-width: @desktop-width) {
  .photos__img {
    height: 400px;

    & img {
      width: 300px;
      height: 400px;
    }
  }
}

.photos__box {
  display: flex;
  flex-direction: column;
  width: 280px;

  margin: 0;
  padding: 0;
  background-color: @bg-light;
}

@media (min-width: @tablet-width) {
  .photos__box {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    min-width: 300px;
    min-height: 155px;
  }
}

.box__heading {
  display: flex;

  & h4 {
    font-size: 14px;
    line-height: 0;
    font-weight: bold;
    color: @bg-dark;

    margin: 0;
    margin-top: 30px;
    margin-bottom: 12px;
    margin-left: 18px;
    padding: 0;
  }
}

@media (min-width: @tablet-width) {
  .box__heading {
    & h4 {
      margin-top: 36px;
      margin-left: 27px;
      margin-right: 4px;
    }
  }
}

.box__time {
  display: flex;
  font-size: 12px;
  line-height: 0;
  font-weight: 300;
  color: @bg-dark;
  text-transform: uppercase;

  margin: 0;
  margin-top: 31px;
  margin-left: 3px;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .box__time {
    margin-top: 37px;
    margin-left: 1px;
  }
}

@media (min-width: @desktop-width) {
  .box__time {
    margin-top: 35px;
  }
}

.box__text {
  display: flex;
  font-size: 14px;
  line-height: 24px;
  color: @bg-dark;

  margin: 0;
  margin-left: 18px;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .box__text {
    margin-left: 28px;
    margin-right: 5px;
  }
}

@media (min-width: @tablet-width) {
  .panorama__text {
    order: 3;
  }
}

.box__like {
  display: flex;
  position: relative;
  font-size: 12px;
  text-transform: uppercase;
  color: #d22856;

  margin: 0;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 49px;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-heart.svg");
    width: 13px;
    height: 12px;
    top: 6px;
    left: -31px;
    background-repeat: no-repeat;
  }
}

@media (min-width: @tablet-width) {
  .box__like {
    position: absolute;
    top: 98px;
    left: -21px;

    &::before {
      left: 228px;
      top: 5px;
    }
  }
}
